.footer{
    text-align: center;
    clear: both;
    background: aqua;
}

input{
    margin: 20px;
}

.news-block{
    padding: 15px;
    margin-right: 20px;
}

.social-icons{
    height: 25px !important;
    width: 25px !important;
    margin: 5px;
}